*.pyc
*.h5
*.xdmf
*.gz
*.ply
*.lon
*.pts
*.npy

# raw mesh files
data/shape_model/cn617_*

# figures
figures/*

# private files
private_*

# pixi environments
.pixi
*.egg-info

# vscode stuff
.vscode/*
