*.pyc
*.h5
*.xdmf
*.gz
*.lon
*.pts
data/left_atrium.vtk

# unused data files
data/shape_model/*

# figures
figures/*
!figures/vector_fields/
figures/vector_fields/*
!figures/vector_fields/*.gif
!figures/other/
figures/other/*
!figures/other/*.svg

# private files
private_*

# pixi environments
.pixi
*.egg-info

# vscode stuff
.vscode/*

# rattler-build
output/